<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8"/>
    <title layout:title-pattern="$CONTENT_TITLE">Layout title</title>
    <link rel='stylesheet' href='/webjars/bootstrap/4.0.0-2/css/bootstrap.min.css'/>
    <link rel='stylesheet' href='/static/css/main.css'/>
</head>
<body>

<nav th:replace="fragments/navbar.html :: navbar"></nav>
<main layout:fragment="content"></main>
<footer th:replace="fragments/footer.html :: footer"></footer>

<script src="/webjars/popper.js/1.14.1/dist/umd/popper.min.js"></script>
<script src="/webjars/jquery/3.3.1-1/jquery.min.js"></script>
<script src="/webjars/bootstrap/4.0.0-2/js/bootstrap.min.js"></script>
</body>
</html>