<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{_layout.html}">
<head>
    <meta charset="UTF-8"/>
    <title>Login</title>
</head>
<body>
<main layout:fragment="content">
    <div class="container">
        <h1 class="text-center">Login</h1>
        <div class="alert alert-success" role="alert" th:if="${param.registered != null}">
            Account successfully registered! You can log in now!
        </div>
        <div class="alert alert-success" role="alert" th:if="${param.logout != null}">
            Logged out successfully!
        </div>
        <div class="alert alert-danger" role="alert" th:if="${param.error != null}">
            Wrong username/password!
        </div>
        <form method="post" th:action="@{/user/login}">
            <div class="form-group input-group">
                <div class="form-group input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text"> <i class="fa fa-envelope"></i> </span>
                    </div>
                    <input class="form-control" name="email" placeholder="Email" type="email" required>
                </div>
                <div class="form-group input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text"> <i class="fa fa-lock"></i> </span>
                    </div>
                    <input class="form-control" name="password" placeholder="Password" type="password" required>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-primary btn-block"> Login  </button>
                </div>
            </div>
        </form>
    </div>
</main>
</body>
</html>