<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{_layout.html}">
<head>
    <meta charset="UTF-8"/>
    <title>Login</title>
</head>
<body>
<main layout:fragment="content">
    <form method="post" th:action="@{/user/login}">
        <label for="email">Email: </label>
        <input id="email" type="text" name="email"/>
        <label for="password">Password: </label>
        <input id="password" type="text" name="password"/>
        <button type="submit">login</button>
    </form>
</main>
</body>
</html>