<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{_layout.html}">
<head>
    <meta charset="UTF-8"/>
    <title>Register</title>
</head>
<body>
<main layout:fragment="content">
    <div>
        <form method="post" th:action="@{/user/register}" th:object="${user}">
            <label for="emailInput">Email:</label>
            <input type="text" id="emailInput" placeholder="email" th:field="*{email}"/>
            <label for="passwordInput">password:</label>
            <input type="text" id="passwordInput" placeholder="password" th:field="*{password}"/>
            <label for="repeatPasswordInput">Repeat password:</label>
            <input type="text" id="repeatPasswordInput" placeholder="repeat password"/>
            <button type="submit">Register</button>
        </form>
    </div>
</main>
</body>
</html>