<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{_layout.html}">
<head>
    <meta charset="UTF-8"/>
    <title>ROOM</title>
</head>
<body>
<main layout:fragment="content">
    <div id="drawing">
        <canvas width="500" height="500" style="border: 1px solid black" id="canvas">

        </canvas>
    </div>
    <div id="chat" style="border: 1px solid black">
        <p>Chat:</p>
        <div id="messages" style="height: 200px; overflow: scroll;">

        </div>
        <input type="text" id="textInput"/>
        <button type="submit" id="sendButton">Send</button>
    </div>

    <div style="border: 1px solid black">
        <table id="scoreboard">

        </table>
    </div>

    <p id="gameId" style="display: none;" th:text="${gameId}"></p>
    <script src="/webjars/sockjs-client/1.1.2/sockjs.min.js"></script>
    <script src="/webjars/stomp-websocket/2.3.3-1/stomp.min.js"></script>
    <script type="module" src="/static/js/GameClient.js"></script>
    <script type="module" src="/static/js/ChatHandler.js"></script>
    <script type="module" src="/static/js/CanvasHandler.js"></script>
</main>
</body>
</html>